/* CSS for a face-up poker card */
.card {
    width: 70px;
    height: 93px;
    background-color: white;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.1em;
    font-size: 1em;
}

.card.red {
    border-color: #ff0000;
    color: #ff0000;
}

.card.black {
    border-color: #000;
    color: #000;
}

.card-top,
.card-bottom {
    display: flex;
    justify-content: space-between;
}

.rank {
    font-size: 1.2em;
    font-weight: bold;
}

.suit {
    font-size: 1.2em;
    font-weight: bold;
}

.card-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for a face-down poker card */
.card-back {
    width: 70px;
    height: 93px;
    position: relative;
    background-color: #033103;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card-back::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.card-back::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    transform: translateY(-50%);
}


/* Add elevation effect with a shadow */
.elevated {
    margin-bottom: 15px;
    border: 2px solid #1e601e;
    animation: glowing 4s infinite;
    opacity: 0;
}



@keyframes glowing {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1; /* Adjust the maximum opacity of the border glow */
        box-shadow: 0 0 8px rgba(0, 255, 0, 0.8); /* Adjust the values for a stronger glow */
    }
    100% {
        opacity: 0.8;
    }
}
